<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztkj.test.test.dao.TestDao">

    <select id="getTest" resultType="com.ztkj.test.test.entity.Test" >
          SELECT id,name from t_test
    </select>

</mapper>