<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztkj.dataSource.ds.dao.DSDao">

    <select id="getDataSourceByUserId" resultType="com.ztkj.core.bean.DataSourceEntity">
        SELECT datasource.id,datasource.host,datasource.port,
        datasource.dbName,datasource.dbUser username,datasource.dbPwd password from datasource
        INNER JOIN user ON user.datasourceId = datasource.id
        WHERE user.id = #{userId}
    </select>


</mapper>